<main>
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" th:action="@{/recipe/comment/{id}(id=${recipe.id})}" method="POST">
                <fieldset>
                    <legend>Write Comment</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="comment_content">Write your comment</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" rows="6" id="comment_content" name="content"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" th:href="@{/recipe/{id}(id = ${recipe.id})}">Cancel</a>
                            <input type="submit" class="btn btn-primary" value="Sent"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>
