<main>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <header>
                        <h2 th:text="${recipe.title}"></h2>
                    </header>

                    <p>
                        <iframe width="560" height="315"
                                th:src="@{https://www.youtube.com/embed/{url}(url=${recipe.urlVideo})}"
                                frameborder="0"></iframe>
                    </p>

                    <div class="container">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <h4>Recipe</h4>
                                <div class="col-sm-8">
                                    <textarea class="form-control" rows="6" id="recipe_content" name="content" th:field="${recipe.content}" disabled="disabled"></textarea>

                                    <h3 class="author" th:text="${recipe.author.fullName}"></h3>
                                    <p>
                                        <a class="btn btn-info" th:each="tag:${recipe.tags}"
                                           th:href="@{/tag/{name}(name=${tag.name})}" th:text="${tag.name}"></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="pull-right">
                        <th:block sec:authorize="isAuthenticated()">
                            <a class="btn btn-primary btn-xs "
                               th:href="@{/recipe/comment/create/{id}(id = ${recipe.id})}">Comment</a>
                            <th:block th:if="${user.isAdmin() OR user.isAuthor(recipe)}">
                                <a class="btn btn-success btn-xs"
                                   th:href="@{/recipe/edit/{id}(id = ${recipe.id})}">Edit</a>
                                <a class="btn btn-danger btn-xs" th:href="@{/recipe/delete/{id}(id = ${recipe.id})}">Delete</a>
                            </th:block>
                        </th:block>
                        <a class="btn btn-default btn-xs" th:href="@{/}">back &raquo;</a>
                    </div>
                    <br/>
                </article>


                <div class="container">
                    <div class="well">
                        <h4>Comments</h4>
                        <th:block th:each="comment : ${comments}">
                            <div style="border: hidden #2077b2; border-radius: 10px; " class="col-md-6; well">
                                <p th:text="${comment.content}"></p>
                                <small class="author" th:text="${comment.author.fullName}"></small>
                            </div>

                            <th:block sec:authorize="isAuthenticated()"
                                      th:if="${user.isAdmin() OR user.isAuthorComment(comment)}">
                                <a class="btn btn-success btn-xs"
                                   th:href="@{/recipe/comment/edit/{id}(id = ${comment.id})}">Edit</a>
                                <a class="btn btn-danger btn-xs"
                                   th:href="@{/recipe/comment/delete/{id}(id = ${comment.id})}">Delete</a>
                            </th:block>

                        </th:block>

                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
